{% extends 'base.html' %} {% block content %}
<div class="container book-entry-form pt-2">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body bg-dark border border-white text-white">
            <h1 class="text-center">Add a New Book</h1>

            <form action="{{ url_for('add_book_form') }}" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required />
                </div>
                <div class="form-group">
                    <label for="author_name">Author Name</label>
                    <input type="text" class="form-control" id="author_name" name="author_name" required />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="publication_year">Publication Year</label>
                    <input type="number" class="form-control" id="publication_year" name="publication_year" required />
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select class="form-control" id="genre" name="genre">
                        <option value="mystery">Mystery</option>
                        <option value="science fiction">Science Fiction</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="fiction">Fiction</option>
                        <option value="non-fiction">non-Fiction</option>
                        <option value="comedy">Comedy</option>
                        <option value="romance">Romance</option>
                        <option value="autobiography">Autobiography</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image_url">Image URL</label>
                    <input type="text" class="form-control" id="image_url" name="image_url" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Book</button>
                </div>
            </form>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes alert alert-danger mt-3">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
