{% extends 'base.html' %} {% block content %}
<div class="page-title d-flex align-items-center">
    <h1 class="text-center mt-5 mb-5 flex-grow-1">Discover Your Next Favorite Book</h1>
    <a href="{{ url_for('add_book') }}" class="btn btn-primary">Add Book</a>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://example.com/image1.jpg" class="card-img-top" alt="Book 1" />
            <div class="card-body">
                <h5 class="card-title">Book 1 Title</h5>
                <p class="card-text">This is a description of Book 1.</p>
                <p class="card-text">Author: John Doe</p>
                <p class="card-text">Genre: Fiction</p>
                <p class="card-text">Publication Year: 2023</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Reviews</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://example.com/image2.jpg" class="card-img-top" alt="Book 2" />
            <div class="card-body">
                <h5 class="card-title">Book 2 Title</h5>
                <p class="card-text">This is a description of Book 2.</p>
                <p class="card-text">Author: Jane Doe</p>
                <p class="card-text">Genre: Non-Fiction</p>
                <p class="card-text">Publication Year: 2022</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Reviews</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://example.com/image3.jpg" class="card-img-top" alt="Book 3" />
            <div class="card-body">
                <h5 class="card-title">Book 3 Title</h5>
                <p class="card-text">This is a description of Book 3.</p>
                <p class="card-text">Author: David Smith</p>
                <p class="card-text">Genre: Mystery</p>
                <p class="card-text">Publication Year: 2021</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Reviews</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="https://example.com/image4.jpg" class="card-img-top" alt="Book 4" />
            <div class="card-body">
                <h5 class="card-title">Book 4 Title</h5>
                <p class="card-text">This is a description of Book 4.</p>
                <p class="card-text">Author: Susan Jones</p>
                <p class="card-text">Genre: Romance</p>
                <p class="card-text">Publication Year: 2020</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Reviews</a>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
