{% extends 'base.html' %} {% block content %}
<div class="page-title d-flex align-items-center">
    <h1 class="text-center mt-5 mb-5 flex-grow-1">Discover Your Next Favorite Book</h1>
    <a href="{{ url_for('add_book') }}" class="btn btn-primary">Add Book</a>
</div>

<div class="container mt-4">
    <div class="row text-white">
        {% for book in books %}
        <div class="col-md-3 mb-4">
            <div class="card bg-dark">
                {% if book.image_url == "not-available.webp"  %}
                <img class="card-img-top" src="{{ url_for('static', filename='images/not-available.webp') }}" alt="{{ book.title }}" />
                {% else %}
                <img class="card-img-top" src="{{ book.image_url }}" alt="{{ book.title }}" />
                {% endif %}

                <div class="card-body bg-dark">
                    <h5 class="card-title text-center text-white">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description }}</p>
                </div>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="list-group-item bg-dark"><strong>Author:</strong> {{ book.author.name }}</li>
                    <li class="list-group-item bg-dark"><strong>Genre:</strong> {{ book.genre }}</li>
                    <li class="list-group-item bg-dark"><strong>Publication Year:</strong> {{ book.publication_year }}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ url_for('reviews', book_id=book.id) }}" class="btn btn-primary btn-block">View Reviews</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
