{% extends 'base.html' %}

{% block content %}
<div class="page-title d-flex align-items-center flex-column flex-lg-row">
    <h1 class="text-center mt-5 mb-5 flex-grow-1">Discover Your Next Favorite Book</h1>
    
    {% if not session.get('user_id') %}
        <!-- Add Book button with data-toggle and data-target attributes -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
            Add Book
        </button>
    {% else %}
        <!-- If the user is logged in, show a different button or any other content -->
        <a href="{{ url_for('add_book') }}" aria-label="Add book page" class="btn btn-primary">Add Book</a>
    {% endif %}
</div>

<!-- Bootstrap Modal for Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You need to be logged in to add a book.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Button to navigate to the login page -->
                <a href="{{ url_for('login') }}" aria-label="Login Page" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
</div>

<!-- Cards to display books -->
<div class="container mt-2">
    <div class="row text-white">
        {% for book in books %}
        <div class="col-md-3 mb-4">
            <div class="card bg-dark">
                {% if book.image_url == "not-available.webp"  %}
                <img class="card-img-top" src="{{ url_for('static', filename='images/not-available.webp') }}" alt="{{ book.title }}" />
                {% else %}
                <img class="card-img-top" src="{{ book.image_url }}" alt="{{ book.title }}" />
                {% endif %}

                <div class="card-body bg-dark border border-white">
                    <h5 class="card-title text-center text-white">{{ book.title }}</h5>
                    <p class="card-text">
                        <strong>Description:</strong>
                        <button type="button" class="btn btn-link text-white" data-toggle="modal" data-target="#descriptionModal{{ book.id }}">
                            Read More
                        </button>
                    </p>
                </div>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="list-group-item bg-dark border border-white"><strong>Author:</strong> {{ book.author.name }}</li>
                    <li class="list-group-item bg-dark border border-white"><strong>Genre:</strong> {{ book.genre }}</li>
                    <li class="list-group-item bg-dark border border-white"><strong>Publication Year:</strong> {{ book.publication_year }}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ url_for('reviews', book_id=book.id) }}" aria-label="Review page" class="btn btn-primary btn-block">View Reviews</a>
                </div>
            </div>
        </div>

        <!-- Modal for Book Description -->
        <div class="modal fade" id="descriptionModal{{ book.id }}" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel{{ book.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel{{ book.id }}">Description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ book.description }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
