{% extends 'base.html' %}

{% block title %}
    {% if error_number %}{{ error_number }} {% endif %}Error
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-5 bg-dark text-white">
            <h1 class="display-4">
                {% if error_number %}{{ error_number }} {% endif %}Error
            </h1>
            <p class="lead">{{ error_message }}</p>
            <hr class="my-4">
            <p>Return to the <a href="{{ url_for('index') }}" class="btn btn-primary" aria-label="Home page">Home Page</a></p>
        </div>
    </div>
{% endblock %}

