{% extends "base.html" %}
{% block content %}
<div class="container register-form">
    <div class="col-md-6 offset-md-3">
        <div class="card card-body bg-dark border border-white text-white">
            <h1 class="text-center">Login</h1>
            <form action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember_me"> Remember me
                        </label>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                {% if 'success' in message.lower() %}
                                    <li class="alert alert-success">{{ message }}</li>
                                {% else %}
                                    <li class="alert alert-danger">{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
