@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');

/* Default Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(../images/pexels-stanislav-kondratiev.webp) no-repeat center center / cover;
}

/* NAVIGATION */
.navbar-toggler:hover {
    transform: scale(1.1);
    border-color: whitesmoke;
  }


  /* SEARCH BAR */

.form-control {
    background-color: #fff; 
    border: 1px solid #ced4da;
    color: #495057; 
}

.form-control:focus {
    background-color: #fff; 
    border-color: #80bdff; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.btn-outline-success {
    color: whitesmoke; 
    border-color: whitesmoke
}

.btn-outline-success:hover {
    background-color: #343a40;
    border-color: whitesmoke; 
    transform: scale(1.1);
}

h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}

p {
    color: whitesmoke;
}

main {
    padding-bottom: 110px;
}

a {
    cursor: pointer;
}


/* Featured Books */
.feature-book-image {
    height: 300px;
    margin: 0 auto;
}

.badge {
    position: relative;
    right: 0;
    top: 0;
}

.custom-card {
    border: 2px solid whitesmoke!important;
    border-radius: 15px;
    width: 100%;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-link {
    font-size: 20px;
    color: whitesmoke;
    padding: 0 10px;
    text-decoration: none;
}

/* FORMS */

.login-form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

/* Review page */
.review-image {
    height: 275px;
    width: 100%!important;
    object-fit: contain;
}

/* MODAL */
.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

/* Buttons */
.btn-primary {
    background-color: #cce5ff;
    color: #004085;
    font-weight: bold;
    border: 1px solid #b8daff; 
}

.rounded {
    border-radius: 15px!important;
}


/* Mobile media queries */
@media screen and (max-width: 320px) {
    .browse-books-title {
        font-size: 75%;
    }
} 

@media screen and (max-width: 576px) {
    .browse-books-title {
        font-size: 120%;
    }

    html {
        font-size: 80%!important;
    }
}


/* tablet media queries */
@media screen and (max-width: 768px) {
    html {
        font-size: 85%!important;
    }

    .browse-books-title {
        display: block;
        width: 100%;
        font-size: 160%;
    }
}

/* larger screen */
 